h5 {
    font-size: 1em;
    font-weight: normal;
    color: grey;
}
h4 {
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 0;
}
#sidebar-wrapper {
    height: 100vh;
    min-height: 100vh;
    margin-left: -10rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
    .sidebar-heading {
        padding: 1.035rem 1.4rem;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            font-size: 1.2em;
        }
        h4 {
            margin-left: 0.5em;
        }
        h4.borrado {
            display: none;
        }
    }
    .list-group {
        width: 10rem;
        height: 90%;
        .list-group-item {
            border: none;
            margin: 2rem 0;
        }
        .list-group-item.select {
            color: #001682;
        }
        .list-group-item.select :after {
            position: absolute;
            display: block;
            content: "";
            border: 2px solid #001682;
            height: 100%;
            left: 0;
            top: 0;
        }
    }
    span {
        margin-left: 0.5em;
    }
    span.borrado {
        display: none;
    }
}
#proyect-wrapper {
    height: 100vh;
    min-height: 100vh;
    margin-left: -18rem;
    text-align: left;
    .proyect-heading {
        padding: 1.035rem 1.4rem;
        font-size: 1.2rem;
        position: relative;
        .btn {
            position: absolute;
            top: 0.7rem;
            right: 1rem;
            padding: 0.15rem 0.5rem;
            box-shadow: 2px 2px 6px 0px #ccc;
        }
    }
    .accordion {
        width: 18rem;
        height: 91vh;
        overflow-y: scroll;
        padding: 1.14rem 1rem 0;
        .card-proyect {
            margin-bottom: 1em;
            border-radius: 5px;
            box-shadow: 4px 4px 6px 0px #ccc;
            overflow: hidden;
            .card-body {
                padding: 0.7rem 0.8rem;
                border-left: 3px solid #0069d9;
                .perfiles {
                    position: relative;
                    height: 30px;
                    .foto {
                        position: absolute;
                        border-radius: 15px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        width: 30px;
                        height: 30px;
                        border: 1px solid white;
                    }
                    .foto:nth-child(1) {
                        left: 0px;
                        z-index: 3;
                    }
                    .foto:nth-child(2) {
                        left: 22px;
                        z-index: 2;
                    }
                    .foto:nth-child(3) {
                        left: 44px;
                        z-index: 1;
                    }
                    .icons {
                        padding-top: 1em;
                        font-size: 0.8em;
                        span:first-child {
                            margin-right: 0.5em;
                        }
                        i {
                            margin-right: 0.2em;
                        }
                    }
                }
            }
            .card-body.select {
                border-left: 0;
                margin-left: 3px;
                .card-title {
                    color: white;
                }
            }
            .card-title {
                font-weight: bold;
                font-size: 1.1em;
                padding-top: 1em;
            }
            .card-subtitle {
                font-weight: normal;
                font-size: 0.8em;
                padding-bottom: 1.5em;
            }
        }
        .card-proyect.select {
            color: white;
            background: linear-gradient(
                180deg,
                rgb(4, 58, 156) 0%,
                rgb(0, 22, 130) 45%,
                rgb(2, 128, 154) 100%
            );
        }
        // .card {
        //     border: none;
        //     .card-header {
        //         background-color: white;
        //         border: none;
        //     }
        //     a:hover {
        //         text-decoration: none;
        //     }
        //     a:not(.collapsed) {
        //         i.rotate-icon {
        //             transform: rotate(180deg);
        //         }
        //     }
        //     i.rotate-icon {
        //         float: right;
        //     }
        //     .card-body {
        //         padding: 1rem 1.25rem 0;
        //     }

        // }
    }
    .accordion::-webkit-scrollbar {
        display: none;
    }
    .accordion::-moz-scrollbar {
        display: none;
    }
}
#page-content-wrapper {
    min-width: 100vw;
    height: 100vh;
    .page-content-header {
        display: flex;
        justify-content: center;
        nav:first-child {
            width: 100%;
            .search {
                width: 60%;
                input {
                    width: 100%;
                }
            }
            i {
                padding: 0 0.2em;
            }
        }
        nav:last-child {
            width: 350px !important;
            justify-content: start;
            .imagen {
                display: block;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 40px;
                height: 40px;
                margin-right: 0.5em;
            }
            .user span {
                font-size: 0.75em;
                display: block;
            }
            .user span:first-child {
                font-size: 0.9em;
                font-weight: bold;
            }
        }
    }
    .area-trabajo {
        overflow-y: scroll;
        height: 90.5vh;
    }
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        text-align: center;
        margin-left: 0;
    }
    #proyect-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
        .container-fluid nav:first-child {
            i {
                padding: 0 0.5em;
            }
        }
    }
    #wrapper.toggled #sidebar-wrapper .list-group {
        width: 100%;
    }
}

.login-container {
    margin: 0px;
    max-height: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh !important;
    width: 100% !important;
    background-color: rgb(0, 98, 204) !important;

    .login-form-1 {
        width: 300px;
        height: 310px;
        padding: 5%;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
        h3 {
            text-align: center;
            color: #333;
        }
        .btnSubmit {
            width: 50%;
            border-radius: 1rem;
            padding: 1.5%;
            border: none;
            cursor: pointer;
            font-weight: 600;
            color: #fff;
            background-color: #0062cc;
        }
        .btnSubmit:focus {
            outline: none;
            box-shadow: 0px 0px 8px 1px rgba(45, 60, 202, 0.71);
        }
        .ForgetPwd {
            color: #0062cc;
            font-weight: 600;
            text-decoration: none;
        }
    }
    form {
        padding: 10%;
    }
}
